#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.username-container {
  top: 32px;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
}

.username-panel {
  display: inline-flex;
  padding: 16px;
  gap: 8px;
  overflow: auto;
  background: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
}

.username-panel>button {
  text-decoration: underline;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.cursor-panel {
  background: linear-gradient(135deg, rgb(117, 81, 194), rgb(255, 255, 255));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  overflow: hidden;
}

.cursor {
  position: absolute;
  display: inline;
  border-radius: 0 10px 10px 10px;
  padding: 4px 8px;
  word-wrap: unset;
  white-space: nowrap;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}